<div class="social-share">
  <ul class="socialcount socialcount-small inline-list">
    <li class="share_label"><span class="count">Share on: </span></li>
    <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Share on Facebook"><span class="count"><i class="fa fa-facebook-square"></i></span></a></li>
    <li class="vk"><a href="https://vk.com/share.php?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Share on VK"><span class="count"><i class="fa fa-vk"></i></span></a></li>
    <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" title="Share on Twitter"><span class="count"><i class="fa fa-twitter-square"></i></span></a></li>
  </ul>
</div><!-- /.social-share -->